* {
  background-color: rgb(175, 175, 175);

  font-family: "Playfair Display", serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(175, 175, 175);
}

.contenedor {
  background-color: rgb(175, 175, 175);
  max-width: 500px;
}
