.gradient-custom-3 {
  /* fallback for old browsers */
  background: #86e5a9;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(173, 211, 6, 0.5),
    rgba(130, 192, 192, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(173, 211, 6, 0.5),
    rgba(130, 192, 192, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(173, 211, 6, 1),
    rgba(130, 192, 192, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(173, 211, 6),
    rgb(130, 192, 192)
  );
}